body{
    background: rgb(198,197,190);
    background: linear-gradient(83deg, rgba(198,197,190,1) 0%, rgba(231,230,227,0.9976365546218487) 100%);
    color: black;
    width: 100%;
    padding: 0;
    margin: 0;
}
.item{
    width: 20%;
    border-color: antiquewhite;
    background-color: bisque;
    color:rgb(70, 64, 64);
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    height: fit-content;
}
img{
    width: 100%;
    height: 300px;
    border-radius: 7px;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item-btn{
    bottom: 0;
    margin: auto;
    background-color: #4c3c04;
    color: aliceblue;
    
}
.item-btn:hover{
    font-size: 19px;
    background-color: darkcyan;
    color: white;
}

.row{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
}
button{
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.col-descr{
    width: 50%;
    padding: 10px;
}
.col-amnt{
    width: 20%;
    padding-left: 0px;
    margin-right: 20px;
    left: 0;
}
.col-act{
    width: 20%;
}
.total{
    margin:auto;
}
.cart{
    text-align: center;
}
.rmv-btn{
    background-color: red;
    color: aliceblue;  
}
.rmv-btn:hover{
    background-color: darkred;
    font-size: 18px;
}
.checkout-btn{
    background-color: green;
    color: aliceblue;
    font-size: 19px;
}
.checkout-btn:hover{
    background-color: darkgreen;
    font-size: 20px;
}
.nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav > a{
    margin-right: 80px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav > a:hover{
    font-size: 20px;
    color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.cart, .row{
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(81, 70, 54);
    background-color: bisque;
    color: black;
    
}
.cart{
    text-align: center;
    width: 80%;
    margin: auto;
    
}
.row{
    margin: auto;
    margin-bottom: 10px;
}
input{
    margin-left: 16px;
    margin: 2px;
    font-size: 16px;
    border-radius: 7px;
    border:none;
}
.landing-page{
    background-image: url("https://images.pexels.com/photos/157888/fashion-glasses-go-pro-female-157888.jpeg?cs=srgb&dl=pexels-pixabay-157888.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
.landing-page > h1{
    padding-top: 300px;
    color: white;
    font-size: 50px;
}
.checked {
    color: orange;
  }
.container{
    text-align: center;
}
.contact{
    padding-top: 50px;
    font-size: 19px;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    margin: auto;
    padding: 40px 0px;
    margin-top: 70px;
    background-color: bisque;
    color: black;
    border-radius: 10px;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.form-input{
    background: transparent;
    border :none;
    color: aliceblue;
    border-bottom-style: solid ;
    border-bottom-color: rgb(4, 6, 7);
    width: 80%;
}
form > button{
    width: 20%;
    margin: auto;
    font-size: 17px;
}
form > button:hover{
    font-size: 20px;
    background-color: green;
    color: aliceblue;
}
